/* CSS declarations go here */
body {
	color: #555;
	font-weight: lighter;
}

.hidden {
	display: none;
}

.welcome {
	font-weight: lighter;
	text-align: center;
  	font-size: 50px;
  	margin-top: 30%;
  	margin-bottom: 30%;
  	color: #555;
}

.infoArea {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
  	text-align: center;
}

.infoText {
	font-weight: lighter;
	font-size: 45px;
}

.visits {
	margin-top: 15px;
}

.logo {
	display: block;
  	width: 300px;
  	margin: 0 auto;
  	margin-top: 20px;
}

.signinForm {
	margin-bottom: 20px;
}

.email {
	display: inline;
	width: 400px;
	margin: 0 auto;
	color: #555;

}


.signinButton {
	display: inline;
	margin-top: 50px;
	padding: 12px 42px 11px 42px;
  	margin-left: 5px;
}

.signupFormContainer {
	width: 1020px;
	margin: 70px auto;
}

.signupForm {
	float: left;
	margin-top: 100px;
  	margin-right: 70px;
}

.signupButton {
	width: 200px;
	padding: 12px 42px 11px 42px;
  	margin-left: auto;
  	margin-right: auto;
  	z-index: 900;
}

.visitorPhoto {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: 0 auto;
	border: 3px solid #fff;
  	box-shadow: 0px 0px 24px rgba(0,0,0,0.3);
  	overflow: hidden;
}

.visitorPhoto img {
	position: relative;
	display: block;
	max-width: 300px;
	max-height: 200px;
	margin-left: -37px;
	width: auto;
	height: auto;
}

/* Overlay */

.overlay {
	position: fixed;
	overflow: auto;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	z-index: 900;
	background-color: rgba(255,255,255,0.97);
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

.closeButton {
	font-size: 20px;
	padding: 10px 20px;
	position: fixed;
	cursor: pointer;
	top: 0;
	right: 0;
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 300;
	font-style: normal;
	border-radius: 0;
	box-shadow: none;
	background: rgba(0,0,0,0);
	height: auto;
	line-height: inherit;
	border-width: 0;
	vertical-align: baseline;
	color: rgba(0,0,0,0.3);
	white-space: normal;
}

.closeButton:hover {
	color: rgba(0,0,0,0.6);
	border-width: 0;
	background: rgba(0,0,0,0);
	transition: color 0.2s;
}

.closeButton:focus {
	outline:0 !important;
}

.firstVisit {
	padding-top: 50px;
}

.nameInput {
	width: 244px;
	display: inline;
}

.emailInput {
	width: 500px;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
}

.firstNameInput {
	margin-right: 10px;
}

.videoContainer {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
	float: left;
}

.buttonContainer {
	float: left;
	margin-left: 9px;
	width: 100px;
	margin-top: 100px;
}

video, canvas {
  margin: 0 auto;
  position: absolute;
  margin-left: -202px;
}

.snap {
	width: 55px;
	padding-top: 16px;
	height: 55px;
	font-size: 20px;
	text-align: center;
	border-radius: 40px;
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.snap:hover {
	transition: background-color 0.2s;
	background-color: #eee;
}

.takePhoto {
	color: #666;
	margin-top: 6px;
	font-size: 14px;
	font-weight: lighter;
	margin: 6px auto;
}

.clearPhoto {
	color: #666;
	font-size: 14px;
	font-weight: lighter;
	margin: 6px auto;
}

.photoModal {
	float: left;
}

/* Flat UI Overrides */
.form-control-orange:focus {
  border-color: #F27030;
}

.form-control-red:focus {
	border-color: #F60F0F;
}

.form-control {
	border-radius: 0;
}

.btn-orange {
  color: #fff;
  background-color: #F27030;
  border-radius: 0;
  font-weight: lighter;
}
.btn-orange:hover,
.btn-orange.hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #fff;
  background-color: #F28830;
  border-color: #F28830;
  }


  /* Animation */

  @keyframes scale-fade {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8) rotateX(-40deg);
        transform: scale(.8) rotateX(-40deg);
    }

    50% {
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(1.05) rotateX(0);
        transform: scale(1.05) rotateX(0);
    }

    100% {
        -webkit-transform: scale(1) rotateX(0);
        transform: scale(1) rotateX(0);
    }
}

@-webkit-keyframes scale-fade {
    0% {
        opacity: 0;
        -webkit-transform: scale(.8) rotateX(-40deg);
        transform: scale(.8) rotateX(-40deg);
    }

    50% {
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(1.05) rotateX(0);
        transform: scale(1.05) rotateX(0);
    }

    100% {
        -webkit-transform: scale(1) rotateX(0);
        transform: scale(1) rotateX(0);
    }
}

@keyframes scale-fade-reverse {
    0% {
    	-webkit-transform: scale(1) rotateX(0);
        transform: scale(1) rotateX(0);
        
    }

    50% {
    	-webkit-transform: scale(1.05) rotateX(0);
        transform: scale(1.05) rotateX(0);
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.8) rotateX(-40deg);
        transform: scale(.8) rotateX(-40deg);
    }
}

@-webkit-keyframes scale-fade-reverse {
    0% {
    	-webkit-transform: scale(1) rotateX(0);
        transform: scale(1) rotateX(0);
        
    }

    50% {
    	-webkit-transform: scale(1.05) rotateX(0);
        transform: scale(1.05) rotateX(0);
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.8) rotateX(-40deg);
        transform: scale(.8) rotateX(-40deg);
    }
}

.animate {
	-webkit-transform-origin: bottom center;
 	-ms-transform-origin: bottom center;
 	transform-origin: bottom center;
 	-webkit-animation: scale-fade 300ms forwards cubic-bezier(.8, .02, .45, .91);
 	animation: scale-fade 300ms forwards cubic-bezier(.8, .02, .45, .91);
}

.animate-1 {
 	-webkit-animation: scale-fade 400ms forwards cubic-bezier(.8, .02, .45, .91);
 	animation: scale-fade 400ms forwards cubic-bezier(.8, .02, .45, .91);
}

.animate-2 {
 	-webkit-animation: scale-fade 500ms forwards cubic-bezier(.8, .02, .45, .91);
 	animation: scale-fade 500ms forwards cubic-bezier(.8, .02, .45, .91);
}

.animate-3 {
 	-webkit-animation: scale-fade 600ms forwards cubic-bezier(.8, .02, .45, .91);
 	animation: scale-fade 600ms forwards cubic-bezier(.8, .02, .45, .91);
}

.animate-reverse {
	-webkit-transform-origin: bottom center;
 	-ms-transform-origin: bottom center;
 	transform-origin: bottom center;
 	-webkit-animation: scale-fade-reverse 300ms forwards cubic-bezier(.8, .02, .45, .91);
 	animation: scale-fade-reverse 300ms forwards cubic-bezier(.8, .02, .45, .91);
}

/*Clearfix*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}